<nav>
  <ul>
    <li > <%= link_to 'Where did you see it?', types_path, class: "navbar" %></li>
    <li> <%= link_to 'New ways to watch', new_type_path, class: "navbar" %></li>
    <li> <%= link_to 'Movies', movies_path, class: "navbar" %></li>
    <li> <%= link_to 'New Movie', new_movie_path, class: "navbar" %></li>
  </ul>
</nav>
</div>